@using LSYS.Models.Entity
@model List<TBL_SIPARIS>
@{
    ViewBag.Title = "IndexP";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}

<h2>IndexP</h2>


<table class=" table table-bordered">
    <tr>

        <td>SİPARİŞ ID</td>
        <td>URUN ID</td>
        <td>ADET</td>
        <td>ALIŞ FİYAT</td>
        <td>TUTAR</td>
        <td>TEMİN SÜRESİ</td>
        <td>BAYİ ID</td>
        <td>TARİH</td>
        <td>Güncelle</td>
        <td>Sil</td>


    </tr>


    @foreach (var sts in Model)
    {
        <tr>

            <td>@sts.SIPARIS_ID</td>
            <td>@sts.URUN_ID</td>
            <td>@sts.URUN_ADET</td>
            <td>@sts.ALIS_FIYAT</td>
            <td>@sts.TUTAR</td>
            <td>@sts.TEMIN_SURESI</td>
            <td>@sts.BAYI_ID</td>
            <td>@sts.TARIH</td>


            <td><a href="/TumSiparisler/SiparisGetirP/@sts.BAYI_ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/TumSiparisler/SiparisSil/@sts.BAYI_ID" class="btn btn-danger">Sil</a></td>

        </tr>
    }

</table>
<a href="/TumSiparisler/SiparisEkleP/" class="btn btn-primary">Yeni Sipariş Ekle</a>
