@using LSYSweb.Models.Entity
@model List<TBL_SIPARIS>

@{
    ViewBag.Title = "Siparisler";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        th {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }

        td {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }

        h2 {
            padding: 20px;
        }

        .table {
            padding-left: 40px;
            padding-right: 40px;
        }
    </style>
</head>

<body>
    <h2>Siparişler</h2>
    <div class="row">
        <div class="table" id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th>Sipariş ID</th>
                        <th>Ürün</th>
                        <th>Alıcı</th>
                        <th>Sipariş Adeti</th>
                        <th>Adet Fiyatı</th>
                        <th>Sipariş Tarihi</th>
                        <th>Temin Süresi (Gün)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var urn in Model)
                    {
                        <tr>
                            <td data-title="Sipariş ID">@urn.SIPARIS_ID</td>
                            <td data-title="Ürün">@urn.TBL_URUN.URUN_ADI</td>
                            <td data-title="Alıcı">@urn.TBL_BAYI.BAYI_ADI</td>
                            <td data-title="Sipariş Adeti">@urn.URUN_ADET</td>
                            <td data-title="Adet Fiyatı">@urn.TUTAR</td>
                            <td data-title="Sipariş Tarihi">@urn.TARIH</td>
                            <td data-title="Temin Süresi (Gün)">@urn.TEMIN_SURESI</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="mh-100" style="height: 115px;"></div><hr>
    <p style="text-align: center;">© 2020 Akın Lift. Tüm Hakları Saklıdır. Akın Lift, akinlift.com ve Akın Lift logosu, Akın Lift'in Türkiye'deki ticari markalarıdır.</p>
</body>
</html>

