@using LSYS.Models.Entity
@model List<TBL_ODEME>
@{
    ViewBag.Title = "IndexP";
    Layout = "~/Views/Shared/_LayoutYonetici.cshtml";
}


<table class=" table table-bordered">
    <tr>

        <td>SİPARİŞ ID</td>
        <td>ÖDEME YÖNTEMİ</td>
        <td>BAYİ ADI</td>
        <td>ÜRÜN ADI</td>
        <td>TUTAR</td>
        


    </tr>


    @foreach (var sts in Model)
    {
        <tr>

            <td>@sts.SIPARIS_ID</td>
            <td>@sts.ODEME_YONTEMI</td>
            <td>@sts.TBL_BAYI.BAYI_ADI</td>
            <td>@sts.TBL_SIPARIS.TBL_URUN.URUN_ADI</td>
            <td>@sts.TBL_SIPARIS.TUTAR</td>

            

        </tr>
    }

</table>
<a href="/Odeme/OdemeEkleP/" class="btn btn-primary">Yeni Ödeme Yap</a>

